<!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" ,
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>ML model deployment</title>
    </head>
    <body>
        <h1>Model deployment</h1>
        <p>Enter data in one line in format 24 6 348 139419 через пробел </p>

        <form action="/" method="POST">
            <input type="text" name="case_data" placeholder="case data">
            <input type="submit">
        </form>
        <p> Случай </p>
    {{ case_result }}
    </body>
    </html>